<!DOCTYPE html>
<!--
_________                         ____ ___
/   _____/ ______________  _______|    |   \______      ____  ____
\_____  \_/ __ \_  __ \  \/ /  ___/    |   /\____ \   _/ ___\/  _ \
/        \  ___/|  | \/\   /\___ \|    |  / |  |_> >  \  \__(  <_> )
/_______  /\___  >__|    \_//____  >______/  |   __/ /\ \___  >____/
      \/     \/                \/          |__|    \/     \/

-->
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open source dashboard visualising server statuses" />
    <meta name="keywords" content="server status, ping, uptime, docker, node, open source" />
    <meta name="author" content=" Ramon Gebben & Julien Lengrand-Lambert">
    <meta name="robots" content="index, nofollow" />
    <meta name="revisit-after" content="1 month" />
    <meta property="og:title" content="ServsUp.co">
    <meta property="og:type" content="company">
    <meta property="og:url" content="http://ServsUp.co">
    <meta property="og:image" content="http://i.imgur.com/F1kCCdx.png">
    <meta property="og:site_name" content="ServsUp.co">
    <meta property="og:description" content="Open source dashboard visualising server statuses">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  </body>
</html>
