@import 'https://fonts.googleapis.com/css?family=Raleway';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0; padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #0F273B;
  color: #f7f7f2;
}

.server-list {
  padding: 2em;
  position: relative;
  margin-bottom: 3em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #f7f7f2;
  margin: 1em 0 0 0;
}

header h1 { margin: 0; }

header a, header a:visited {
  text-decoration: none;
  color: #f7f7f2;
  text-align: center;
}

header svg {
  max-width: 20em;
  max-height: 10em;
}

.panel {
  padding: 1.5em;
  overflow: hidden;
  margin-bottom: 1.5em;
  background-color: #f7f7f2;
  border-radius: 4px;
}

.panel:after {
  display: table;
  content: "";
  clear: both;
}
.online { background-color: #66BB6A; }
.unreachable { background-color: #ef5350; }

.panel-header {
  margin: 0;
  padding: 0.2em;
}

.badge {
  border: 1px solid;
  border-radius: 2em;
  padding: 0.3em 0.5em;
  margin-right: 0.5em;
  text-transform: uppercase;
}

.panel .actions {
  margin-right: -5em;
  transition: margin .2s ease-out;
}

.panel:hover .actions {
  margin-right: 0;
  transition: margin .2s ease-out;
}

.panel .action {
  border: none;
  background: none;
  font-size: 20px;
  float: right;
  cursor: pointer;
  transition: all .2s ease-out;
  outline: none;
}

.panel .action:hover {
  transform: scale(1.3) rotate(6deg);
  transition: all .2s ease-out;
}

.panel .action:first-child:hover {
  transform: scale(1.3) rotate(-6deg);
  transition: all .2s ease-out;
}

.right { float: right; }
.left { float: left; }

.modal {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

.modal-body {
  background-color: #f7f7f2;
  color: #0F273B;
  width: 100%;
  padding: 1em;
  position: relative;
  max-width: 800px;
}

.modal-close {
  border: none;
  background: none;
  outline: none;
  font-size: 22px;
  position: absolute;
  top: 0.5em; right: 0.6em;
  cursor: pointer;
  transition: all .2s ease-out;
}

.modal-close:hover {
  transform: scale(1.2);
  transition: all .2s ease-out;
}

.btn {
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 35px;
  line-height: 0.9;
  transition: all .2s ease-out;
  transform: rotate(0deg);
  padding: 0.5em;
  background-color: #f7f7f2;
  position: absolute;
  right: 0.9em;
  bottom: -1em;
}

.btn:hover {
  transform: rotate(180deg);
  transition: all .2s ease-out;
}

.save {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #ddd;
  padding: 0.5em 2em;
  float: right;
  cursor: pointer;
}

.save:hover {
  background-color: #ccc;
}

input[type="text"] {
  outline: none;
  padding: 1em;
  font-size: 13px;
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid #ddd;
  transition: all .2s ease-out;
}

input[type="text"]:focus {
  border-bottom: 1px solid #333;
  transition: all .2s ease-out;
}

footer {
  border-top: 1px solid #f7f7f2;
  margin: 0 2em;
  padding: 0 0 0 0;
  text-align: center;
  position: relative;
}

footer .inner {
  display: inline-block;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 1em;
}

footer a {
  color: #f7f7f2;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

.loader {
  max-width: 8em;
  margin: 0.8em auto;
}

.loader img {
  width: 100%;
}

.subscribe-container {
  position: absolute;
  top: 2em; right: 2em;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 50;
  max-width: 13em;
  width: 100%;
  color: #000;
  background-color: #f7f7f7
}

.subscribe-container button[type="button"] {
  border: 1px solid #66BB6A;
  outline: none;
  border-radius: 4px;
  color: #66BB6A;
  background-color: #0F273B;
  padding: 1em 2em;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all .2s ease-out;
}
.subscribe-container button[type="button"]:hover {
  background-color: #66BB6A;
  color: #fff;
}

.subscribe-form {
  border-radius: 4px;
  overflow: hidden;
  background-color: #f7f7f7;
  transition: all .2s ease-out;
  height: 0;
}

.subscribe-form a, .subscribe-form a:visited {
  color: #ef5350;
}

.subscribe-container.expanded .subscribe-form {
  padding: 1em;
  height: 12em;
}

.subscribe-form button[type="submit"] {
  border: 1px solid #66BB6A;
  color: #66BB6A;
  border-radius: 4px;
  background: transparent;
  padding: 1em 2em;
  margin-top: 0.5em;
}

.subscribe-form button[type="submit"]:hover {
  background-color: #66BB6A;
  color: #f7f7f7;
}

.invalid input {
  border: 1px solid #ef5350;
}

.subscribe-form h3 {
  margin: 0.5em 0;
}

.subscribe-form input {
  padding: 1em;
  width: 100%;
  outline: none;
}

@media screen and (max-width: 425px) {
  footer { font-size: 12px; }
  .subscribe-container {
    max-width: 100%;
    position: static;
  }
  header { padding: 0 2em; }
}
